.flex-col {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {   
    background: linear-gradient(135deg, var(--igem-dark-blue) 0%, var(--igem-dark-red) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.profile>p {    
    text-align: justify;
    margin: 0.5rem 0;
}

.profile-image {
    width: 500px;
    max-width: 80vw;
}

.links {
    display: grid;
    grid-template-columns: 500px;
}

@media screen and (max-width: 540px) {
    .links {
    grid-template-columns: 80vw;
    }
    .profile>p {
    width: 80vw;
    }

}



.social-links {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.social-link {
    width: 4.5rem;
    scale: 1;
    transition: scale 0.2s ease-in-out;
}

.social-link:hover {
    scale: 1.1;
}

a {
    text-align: center;
    text-decoration: none;
}

a.link {
    border: 1px solid var(--igem-white);
    border-radius: 5px;
    margin: 0.5rem 0;
    padding: 1rem 0;
    background-color: var(--igem-white);
    color: var(--igem-black);
    transition: background-color 0.3s ease, color 0.3s ease;

}

a.social-link {
    
    font-size: 2rem;
}

a.link:hover {
    color: var(--igem-white);
    background-color: transparent;
}